body {
    background-color: #ABD0CB;
    color: #4A417F;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin:0;
    padding:0;
}

/*navigation*/
header {   
    height: 100px;
    width:100%;
    background-color: #4A417F;
    color: #ABD0CB;
    position: sticky;
    top: 0;
    z-index:12;
    opacity:0.9;
    border-bottom: 1px solid;
}

.wrapper {
    width:100%;
    margin: 0 auto;
}
.logo {
    font-family: 'Rubik Vinyl', cursive;
    font-size: 2rem;
    width: 30%;
    float: left;
    line-height: 100px;
    letter-spacing: 8px;
}


nav {
    float:right;
    line-height: 100px;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color:#ABD0CB;
    letter-spacing: 4px;
    padding: 36px 10px;
    font-weight: 500;
}

nav a:hover {
    background-color: #ABD0CB;
    color: #4A417F;
}

.gridtwo {
    height: 330px;
    width: 100%;
    display: grid;
    grid-template: 100%/ 8fr 5fr;
    gap: 10px 15px;
    top:0;
    position:relative;
  }

#pond {
    height: 91%;
}

#bio {
    text-align: left;
    margin: 10px;
    padding-left: 10px;
}

#bio, #project, #running, #reading {
    padding-top: 100px; 
    margin-top: -100px;
}
/*For projects, running and reading sections*/
.larger {
    font-size: 1.5rem;
}

#projects {
    color: #ABD0CB;
    font-size: 80px;
    margin: 0px;
    padding-top: -23%;
    text-align: center;
    z-index: 2;
}

.pr1 {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.VRF9-XGFuEsBfeJv_dft2QHaK-%26pid%3DApi&f=1&ipt=d9ebec82e3c19b5766b53b24d2e3fb62a699eeb237f99c95bb498ba7ca70a89b&ipo=images");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    font-family: 'Rubik Vinyl', cursive;
}

.pr2 {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.M5sMZiJzvG2sxt4Is0vv0QHaE8%26pid%3DApi&f=1&ipt=9b98d76d60b7e124af53275d29fdfe3662319a916f5d6976ce82ebea86a41f83&ipo=images");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    font-family: 'Rubik Vinyl', cursive;
}

.pr3 {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.GCINeHkXMbwwxChEg9-DxwHaEK%26pid%3DApi&f=1&ipt=4e710a2e69fb22d95ac5feaeea431381be8537f8c69a40355652c9089f399cda&ipo=images");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    font-family: 'Rubik Vinyl', cursive;
}
.pr1 a, .pr2 a,  .pr3 a {
    text-decoration: none;
    color:#ABD0CB;
    z-index:1;
}

.overlay:before {
    content: " ";
    z-index: 1;
    display: block;
    position: absolute;   
    height: 40%;
    width: 33%;
    background: rgba(0, 0, 0, 0.7);
}
.overlay * {
    position: relative; /* Makes elements display above overlay. */
}
.gridthree {
    height: 300px;
    width: 100%;
    display: grid;
    grid-template: 150px 150px/ repeat(3, 1fr);
    gap: 10px 15px;
  }

  .gridrun {
    height: 730px;
    width: 100%;
    display: grid;
    grid-template: 150px 150px 430px/ repeat(3, 1fr);
    gap: 10px 15px;
  }



.gridfive {
    height: 600px;
    width: 100%;
    display: grid;
    grid-template: 150px 450px/ repeat(5, 1fr);
    gap: 10px 15px;
  }

  .top {
    grid-area: 1 / 1 / 2 / span 3;
    background-color: #4A417F   ;
    color: #ABD0CB;
    padding: 10px 20px;
    border-radius: 5px;
    
  }

  .topfive {
    grid-area: 1 / 1 / 2 / span 5;
  }

  .box iframe{
    max-width: 100%;
    z-index:-2;
    opacity: 0.7;
  }

.book img {
    max-width: 100%;
}

.foot {
    width: 20%;
    margin-left:40%;
    font-size:0.7rem;
}